rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{uid}/watchlist/{appId} {
      allow read, write:
        if request.auth != null
        && request.auth.uid == uid
        && exists(/databases/$(database)/documents/games/$(appId))
        && request.resource.data.size() == 4
        && request.resource.data.appId is int
        && request.resource.data.threshold is int
        && request.resource.data.updated is timestamp
        && request.resource.data.created is timestamp
        && string(request.resource.data.appId) == appId;
    }

    match /users/{uid} {
      allow read, write:
        if request.auth != null
        && request.auth.uid == uid
        && request.resource.data.size() == 1
        && request.resource.data.uid == uid;
    }

    match /users/{uid}/devices/{devid} {
      allow read, write:
        if request.auth != null
        && request.auth.uid == uid
        && request.resource.data.size() == 1
        && request.resource.data.devid == devid;
    }
  }
}